<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 05</title>
    <script src="/static/scripts/tailwind.js"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-3xl">
        <h1 class="text-3xl font-bold mb-4 text-center">Aula 05 - 13/11/2024</h1>
        <h2 class="text-xl font-semibold mb-4">Regras do back-end</h2>
        <h3 class="text-lg font-semibold mb-2">1. Não confie nos dados que chegam</h3>
        <p class="mb-4">É necessário validar os dados que chegam das requisições, onde a validação depende do tipo
            esperado do dado. Se o dado é esperado que seja do tipo int, valida-se se o dado é um int, etc.</p>
        <h3 class="text-lg font-semibold mb-2">2. Garantir integridade e consistência dos dados</h3>
        <p class="mb-4">Use um armazenamento consistente para guardar os dados.</p>
        <h3 class="text-lg font-semibold mb-2">3. Trabalha-se de forma assíncrona se as respostas são demoradas para
            serem retornadas, de forma síncrona se forem rápidas</h3>
        <h3 class="text-lg font-semibold mb-2">4. Tratar as exceções</h3>
        <p class="mb-4">Não deixe seu back-end morrer</p>
        <h2 class="text-xl font-semibold mb-4">Atividades em aula</h2>
        <ul class="list-disc list-inside space-y-2 mb-4">
            <li>Criar rota renderizando um formulário com dois campos, usuário e senha</li>
            <li>Criar uma aplicação web com uma rota para autenticação</li>
            <li>Fazer a integração de autenticação do front-end e back-end</li>
            <li>Acrescentar ao parâmetro "methods" da rota a lista methods=["POST"]</li>
        </ul>
        <h2 class="text-xl font-semibold mb-4">Atividades em casa</h2>
        <ol class="list-decimal list-inside space-y-2 mb-4">
            <li>Fazer as validações, no back-end, verificando se usuário e senha foram enviados ao servidor</li>
            <li>Tratar exceções para evitar que seja exibida a mensagem "Method not allowed"</li>
            <li>Garantir que o usuário possa tentar a autenticação novamente quando usuário e senha estiverem incorretos
            </li>
            <li>Limitar em 2 tentativas de autenticação</li>
            <li>Alterar todos os retornos das rotas utilizando dados formatados em JSON</li>
        </ol>
        <h2 class="text-xl font-semibold mb-4">Resultados</h2>
        <p>Como as atividades desta aula consistem em incrementar funções criadas anteriormente, não é necessário
            mostrar links nesta página. Os incrementos podem ser vistos nas páginas de atividades anteriores.</p>
    </div>
</body>

</html>