<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova cancelada</title>
    <script src="/static/scripts/tailwind.js"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-2xl font-bold mb-6 text-center">Prova Cancelada</h1>
        <ol class="list-decimal list-inside">
            <li class="mb-2">
                <a href="ex01" class="text-blue-600 hover:underline">Exercício 1</a>
            </li>
            <li class="mb-2">
                <a href="ex02" class="text-blue-600 hover:underline">Exercício 2</a>
            </li>
            <li class="mb-2">
                <a href="ex03" class="text-blue-600 hover:underline">Exercício 3</a>
            </li>
        </ol>
    </div>
</body>

</html>