<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade 5</title>
</head>

<body>
    <div class="main-container">
        <p>Currículos</p>
        <p><a href="http://127.0.0.1:5000/au03/at05/felipe">Felipe Flamarini</a></p>
        <p><a href="http://127.0.0.1:5000/au03/at05/kauan">Kauan Olival Lopes</a></p>
        <p><a href="http://127.0.0.1:5000/au03/at05/pedro">Pedro Samuel Soares Simão</a></p>
        <p><a href="http://127.0.0.1:5000/au03/at05/nicholas">Nicholas Ricardo Silva Araújo</a></p>
        <p><a href="http://127.0.0.1:5000/au03/at05/patrick">Patrick Cauã Gonçalves Dias</a></p>
        <p><a href="http://127.0.0.1:5000/au03/at05/leticia">Letícia</a></p>
    </div>
</body>

</html>