<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 01</title>
    <script src="/static/scripts/tailwind.js"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-lg">
        <h1 class="text-3xl font-bold mb-4 text-center">Aula 01 - 09/10/2024</h1>
        <h2 class="text-xl font-semibold mb-4">Explicando o plano de ensino</h2>
        <ul class="list-disc list-inside space-y-2">
            <li>nota 1: programação ao vivo</li>
            <li>nota 2: portfólio</li>
            <li>nota 3: projeto</li>
        </ul>
    </div>
</body>

</html>