<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 03</title>
</head>

<body>
    <h1>Aula 03</h1>
    <h2>Atividades</h2>
    <ol>
        <li><a href="/au03/at01">Atividade 01</a></li>
        <li><a href="/au03/at02">Atividade 02</a></li>
        <li><a href="/au03/at03">Atividade 03</a></li>
        <li><a href="/au03/at04">Atividade 04</a></li>
        <li><a href="/au03/at05">Atividade 05</a></li>
    </ol>
</body>

</html>